* {
  margin: 0;
  padding: 0;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  color: black;
}

.navbar img{
  width: 40px;
}

.nav-right {
  display: flex;
  justify-content: space-evenly;
  column-gap: 20px;
  /* padding: 10px; */
}

.navlinks {
  display: flex;
  column-gap: 20px;
  text-transform: uppercase;
}

.hero {
  /* background: url("../images/losangeles.jpg"); */
  background: url("../images/pexels-asadphoto-1450340.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 23px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.hero-overlay h1{
  font-size: 3.5rem;
}

.hero h1 {
  font-size: 3rem;
  color: white;
}

.hero p {
  color: white;
  font-size: 1.2rem;
}

.hero-buttons {
  display: flex;
  column-gap: 50px;
}

.hero-buttons :first-child {
  /* background: rgba(226, 188, 20, 0.836); */
  /* background: #4e8ad4; */
  background: #745cf9;
  border: none;
  padding: 15px 45px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.hero-buttons :last-child {
  padding: 12px 29px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  font-weight: bold;
  font-size: 12px;
}

.img-section img{
  
  width: 570px;
  
  
}

.img-section {
  width: 40%;
}

.section-1{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  height: 58vh;
  width: 99%;
  margin-top: 127px;
  padding-top: 70px;
  
}

.sub-section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75%;
  width: 36%;
  justify-content: space-around;
  padding-bottom: 24px;
  padding-left: 120px;
  
}

.sub-section p{
  width: 90%;
  
}

.sub-section button {
  width: 40%;
  padding: 15px 20px;
  color: white;
  font-weight: 600;
  background: #745cf9;
  border: none;
}


.paralax{
  /* background: url("../images/image.png"); */
  background: url("../images/pexels-pixabay-206359.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
}

.paralax * {
  margin-bottom: 20px;
}

.paralax p{
  text-align: center;
  width: 83%;
}

.paralax button{
  padding: 12px 49px;
  border: none;
  background: #745cf9;
  color: white;
  font-weight: 700;
  font-size: 13px;

}

.paralax h1{
  font-size: 2rem;
}

.option{
  background: rgb(245,245,245);
}

.options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  padding-top: 100px;
}

.options *{
  margin-bottom: 24px;
}

.options span{
  font-size: 1.4rem;
}

.options p{
  text-align: center;
  width: 57%;
  font-size: 14px;
}

.options button{
  padding: 12px 49px;
  border: none;
  background: #745cf9;
  color: white;
  font-weight: 700;
  font-size: 13px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.img-container img {
  width: 73%;
  height: 100vh;
}

.latest{
  height: 20vh;
  color: white;
  background: rgb(14,16,21);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  row-gap: 20px;
}

.latest span{
  font-size: 1.4rem;
}

.latest p{
  font-size: 12px;
}

.grid-img-container{
  display: grid;
  grid-template-rows: repeat(3,300px);
  grid-template-columns: repeat(4,337px);
  background-color: rgb(14,16,21);
}

.item1{
  background: url("../images/haley.jpg");
  background-size: cover;
}

.item2{
  background: url("../images/losangeles.jpg");
  background-size: cover;
}

.item3{
  background: url("../images/spenser.jpg");
  background-size: cover;
}

.item4{
  background: url("../images/tirachard.jpg");
  background-size: cover;
}

.item5{
  background: url("../images/pexels-alessio-cesario-975080-1906879.jpg");
  background-size: cover;
}

.item6{
  background: url("../images/pexels-belle-co-99483-402028.jpg");
  background-size: cover;

}

.item7{
  background: url("../images/pexels-fmaderebner-238622.jpg");
  background-size: cover;
}

.item8{
  background:url("../images/pexels-julieaagaard-1374064.jpg");
  background-size: cover;
}

.item9{
  background: url("../images/pexels-ninauhlikova-725255.jpg");
  background-size: cover;
}

.item10{
  background: url("../images/pexels-pixabay-220769.jpg");
  background-size: cover;
}

.item11{
  background: url("../images/pexels-david-bartus-43782-586687.jpg");
  background-size: cover;
}

.item12{
  background: url("../images/pexels-julius-silver-240301-753339.jpg");
  background-size: cover;
}